.stick-content{
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
}
.input-section-content{
    position: sticky;
    overflow: hidden;
    top: 57px;
    background: white;
}
